UE4/TP1/id.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="id">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nom" />
        <xs:element ref="prenom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="nom"    type="xs:string" />
  <xs:element name="prenom" type="xs:string" />

</xs:schema>
